<template>
  <v-container>
    <v-content>
      <v-layout column wrap>
        <todo-tool-bar  :roles="rolesList" :user="user"></todo-tool-bar>
        <todoList :roles="rolesList" :user="user"/>
        <input-todo :user="user"></input-todo>
      </v-layout>
    </v-content>
  </v-container>
</template>

<script>
import firebase from "firebase";

import todoToolBar from "../components/todoToolBar";
import todoList from "../components/todoList";
import inputTodo from "../components/inputTodo";

export default {
  components: {
    todoToolBar,
    todoList,
    inputTodo
  },
  data() {
    return {
      user: {},
      rolesList: []
    };
  },
  methods: {
    getRoles() {}
  },
  mounted() {
    let me = this;
    var userId = firebase.auth().currentUser.uid;
    firebase
      .database()
      .ref("/usuarios/" + userId)
      .once("value")
      .then(function(snapshot) {
        me.user = snapshot.val();

        // ...
      });
     me = this;
      var roles2 = firebase.database().ref("/roles");
      
    roles2.push({
      id: firebase.auth().currentUser.uid,
      roles: ["User"]
    });
    var roles = firebase.database().ref("/roles");
    roles.on("value", function(snapshot) {
      me.rolesList = snapshot.val();
    });
    
  }
};
</script>

<style lang="css" scoped>
</style>