/* eslint-disable no-undef */
<template>
  <div>
    <login @user="saveUser"/>
  </div>
</template>

<script>
import firebase from "firebase";
import Login from "../components/login";
export default {
  components: {
    Login
  },
  data() {
    return {
      gDomains: [],
      userDomain: "",
      isAllowed: false
    };
  },
  methods: {
    saveUser(user) {
      let me = this;
      firebase
        .database()
        .ref("usuarios/" + user.uid)
        .set({
          id: user.uid,
          username: user.displayName,
          email: user.email,
          photo: user.photoURL
        })
        .then(() => {
        me.userDomain = user.email.split("@")[1];
          me.isOnAlloweDomains();
        
        });

    },
    isOnAlloweDomains() {
      let me = this;
      return firebase
        .database()
        .ref("/gDomains/domains")
        .once("value")
        .then(function(snapshot) {

          me.gDomains = snapshot.val();
          if (me.gDomains.includes(me.userDomain)) {
        me.$router.replace({ name: 'home'});
      } else {
                me.$router.replace({ name: 'notAllowed'});
      }
        });
      
    }
  }
};
</script>

<style lang="css" scoped>
</style>