<template>
  <div>
    <not-allowed/>
  </div>
</template>

<script>
import notAllowed from "../components/notAllowed";
export default {
  components: {
    notAllowed
  },data() {
    return {
      OAuth: false
    }
  },
};
</script>

<style lang="css" scoped>
</style>