<template>
  <v-flex xs12 sm6 md3>
    <v-alert v-if="error" :value="true" type="warning">You have a card already!</v-alert>
    <v-text-field
      @keyup.enter="insertTodo"
      v-model="todo"
      type="text"
      autofocus="autofocus"
      placeholder="What's your problem?"
      autocomplete="off"
      solo
    ></v-text-field>
  </v-flex>
</template>

<script>
import firebase from "firebase";

export default {
  props: ["user"],
  methods: {
    haveATodo() {
      let me = this;
      var userTodo = firebase.database().ref("/todos/" + me.user.id);
      userTodo.on("value", function(snapshot) {
        if (snapshot.val() != null) {
          me.hasATodo = true;
        } else {
          me.hasATodo = false;
        }
      });
    },
    insertTodo() {
      let me = this;

      this.haveATodo();
      if (this.hasATodo) {
        this.error = true;
        setTimeout(function() {
          me.error = false;
        }, 5000);
      } else {
        firebase
          .database()
          .ref("todos/" + this.user.id)
          .set({
            id: me.user.id,
            title: me.todo,
            date: new Date()
          })
          .then(() => {
            console.log("correctly added");
          });
      }
    }
  },
  data() {
    return {
      todo: "",
      error: false,
      hasATodo: false
    };
  }
};
</script>

<style lang="css" scoped>
</style>