<template>
  <v-dialog value="true" max-width="750px">
    <v-card>
      <v-card-title>
        <h2>Settings</h2>
        <v-spacer></v-spacer>
      </v-card-title>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card color="blue-grey darken-2" class="white--text">
            <v-card-title primary-title>
              <div>
                <div class="headline">Domains</div>
                <input-tag v-model="gDomains"></input-tag>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="success" @click="updateGDomains">Submit</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card color="blue-grey darken-2" class="white--text">
            <v-card-title primary-title>
              <div>
                <div class="headline">Roles</div>
                <input v-model="newAdmin">
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="success" @click="addAdmin">Submit</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-card>
  </v-dialog>
</template>

<script>
import InputTag from "vue-input-tag";
import firebase from "firebase";

export default {
  components: {
    "input-tag": InputTag
  },
  props: ["user", "roles"],
  data() {
    return {
      gDomains: [],
      newAdmin: "",
      admins: []
    };
  },
  methods: {
    getGDomains() {
      let me = this;
      var gDomains = firebase.database().ref("/gDomains/domains");
      gDomains.on("value", function(snapshot) {
        me.gDomains = snapshot.val();
      });
    },
    updateGDomains() {
      let me = this;
      firebase
        .database()
        .ref("/gDomains")
        .set({
          domains: me.gDomains
        })
        .then(() => {});
    },
    addAdmin() {
      
    }
  },
  mounted() {
    this.getGDomains();
  }
};
</script>

<style lang="css" scoped>
</style>