<template>
  <div id="app">
    <v-app id="inspire">
      <v-content>
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>This Domain is not allowed</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                
                
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
    <google v-if="googleComponent"></google>
  </div>
</template>

<script>

export default {
  data() {
    return {
      googleComponent : false
    }
  },
  methods:{
    register(){
      this.googleComponent = true;
      this.$router.replace({ name: 'home'});
    }
  }

};
</script>

<style lang="css" scoped>
</style>