<template>
  <v-list two-line>
    <template>
      <v-list-tile :key="todo.id" avatar>
        <v-list-tile-avatar>
          <img :src="user.photo">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title v-html="todo.title"></v-list-tile-title>
          <v-list-tile-sub-title v-html="user.username"></v-list-tile-sub-title>
          <button @click="$emit('deleteTodo',todo)" class="destroy">
            <v-icon color="red">clear</v-icon>
          </button>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
    </template>
  </v-list>
</template>

<script>
import firebase from "firebase";

export default {
  props: ["todo"],
  data() {
    return {
      user: {}
    };
  },
  methods: {
    deleteTodo(){

    },
  },

  mounted() {
    
      let me = this;
      var userTodo = firebase.database().ref("/usuarios/" + me.todo.id);
      userTodo.on("value", function(snapshot) {
        me.user = snapshot.val();
      });
    }
    
};
</script>

<style lang="css" scoped>
</style>