<template>
  <div>
    <v-toolbar color="blue darken-4" dark>
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-toolbar-title class="headline">Todo App</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-tooltip v-if="isAdmin" bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon @click="modal = !modal">
            <v-icon>settings</v-icon>
          </v-btn>
        </template>
        <span>Settings</span>
      </v-tooltip>
    </v-toolbar>
    <modal :user="user" :roles="rolesList" v-if="modal" @closeSettingsModal="modal = !modal"></modal>
  </div>
</template>

<script>
import modal from "./modal";
export default {
  components: {
    modal
  },
  props: ["user", "roles"],
  data() {
    return {
      modal: false
    };
  },
  computed: {
    isAdmin: function () {
      console.log(this.roles)
      console.log(this.user)
      debugger;/*
      for (let index = 0; index < this.roles.length; index++) {
        const user = this.roles[index];
        if (user.id == this.user.id) {
          for (let index = 0; index < user.roles.length; index++) {
            const rol = user.roles[index];
            if (rol == "Admin") {
              return true;
            }
          }
        }
      }
      return false;
      */
     for (let index = 0; index < this.roles.length; index++) {
       const user = this.roles[index];
       this.console.log(user)
       if (user.id == this.user.id) {
         console.log()
         for (let index2 = 0; index2 < user.roles.length; index2++) {
           const rol = user.roles[index2];
           console.log(rol)
           if (rol == "Admin") {
             console.log(rol)
             return true;
           }
           
         }
         
       }
       
     }
     return false;
    }
  },
  methods: {

  }
};
</script>

<style lang="css" scoped>
</style>