<template>
  <div>
    <v-alert v-if="error" :value="true" type="error">This is not your card.</v-alert>
    <todo-element
      @deleteTodo="deleteTodo"
      @toggleCheck="toggleCheck"
      :todo="todo"
      v-for="todo in todos"
      :key="todo.id"
    ></todo-element>
  </div>
</template>

<script>
import firebase from "firebase";

import todo from "./todo";
export default {
  props:["user","roles"],
  data() {
    return {
      todos: [],
      error: false
    };
  },
  components: {
    "todo-element": todo
  },

  methods: {
    deleteTodo(todo){
      if(todo.id == this.user.id || this.isAdmin){
         firebase.database().ref('/todos/' + todo.id).remove()
  }else{
    this.error = true
    let me = this;
            setTimeout(function() {
          me.error = false;
        }, 5000);
  }

      
    },
    toggleCheck(){

    }
  },computed: {
    isAdmin() {
      for (let index = 0; index < this.roles.length; index++) {
        const user = this.roles[index];
        if (user.id == this.user.id) {
          for (let index = 0; index < user.roles.length; index++) {
            const rol = user.roles[index];
            if (rol == "Admin") {
              return true;
            }
          }
        }
      }
      return false;
    }
  },
  mounted() {
    let me = this;
    var starCountRef = firebase.database().ref("/todos/");
    starCountRef.on("value", function(snapshot) {
      me.todos = snapshot.val();
    });
  }
};
</script>

<style lang="css" scoped>
</style>