<template>
  <v-toolbar>
    
    <v-toolbar-title>Todo App + Firebase</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat color="info" :to="{ name: 'login'} ">Login</v-btn>

    </v-toolbar-items>
  </v-toolbar>
</template>

<script>

export default {

};
</script>

<style lang="css" scoped>
</style>