<template>
  <v-app>
    <tool-bar></tool-bar>
    <router-view @user="user()"></router-view>
  </v-app>
</template>

<script>
import toolBar from "./components/toolBar";

export default {
  name: 'App',
  components:{
    toolBar
  },

  data () {
    return {
      //
    }
  },
  methods:{
    user(e){
      console.log(e);
    }
  }
}
</script>
